<style>
  body{
    background: url('https://slack.global.ssl.fastly.net/5d547/img/videos/sandwichBGs/1440-bg-sandwich.jpg');
  }
  .navbar{
    background: none;
    border: none;
  }
  .navbar-brand{
    color: #fff !important;
    font-weight: bold;
    font-size: 1.8em;
  }
  p{
    color: #fff;
  }
  #downArrow{
    padding-top: 30px;
  }
  footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #1e1e1e;
  }
  footer p{
    color: grey;
  }
</style>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Linkytbe</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <a href="/account/signin"><button type="button" class="btn btn-success">Sign in</button></a>
      </form>
    </div>
  </div>
</nav>
<div id="mainContent" class="container">
<br/><br/><br/><br/><br/><br/>
  <div class="col-lg-offset-2 col-lg-8">
    <div class="col-lg-11">
      
      <p class="lead">Create awesome links in a instant ! With Linkytbe, it's easy to create, share and monitor your links with your followers.</p>
      <p>This service is avaible only with an invite</p>
      <form action="account/requestInvite" method="post">
        <div class="input-group input-group-lg">
            <input name="email" type="email" class="form-control" placeholder="My email ..." required>
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Request an invite</button>
            </span>
        </div>
      </form>
    </div>
    <div id="downArrow" class="col-lg-1">
      <svg width="65px" height="91px" viewBox="0 0 65 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  			<g id="Current" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
  				<g transform="translate(-923.000000, -190.000000)" stroke-linecap="round" stroke="#2C2D30" stroke-width="5">
  					<g id="CTA-Copy-+-We’re-on-a-mission-t-Copy-+-arrow-copy" transform="translate(295.000000, 109.000000)">
  						<g id="arrow-copy" transform="translate(661.500000, 127.000000) rotate(5.000000) translate(-661.500000, -127.000000) translate(633.500000, 84.000000)">
  							<path d="M26.3867187,0.0625 C69.2539062,7.56640625 67.4970703,74.3291016 5.59472656,77.4707031" id="Path-9976"></path>
  							<path d="M15.9194843,57.9747585 C14.7553017,67.8064006 1.5766365,79.1648387 1.5766365,79.1648387 C1.5766365,79.1648387 9.11783427,85.7647194 25.0799629,84.3735088" id="Path-9977" stroke-linejoin="round" transform="translate(13.328300, 71.270458) rotate(7.000000) translate(-13.328300, -71.270458) "></path>
  						</g>
  					</g>
  				</g>
  			</g>
  		</svg>
		</div>
    
  </div>

</div>
